<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
            font-size: 18px;
            text-align: left;
        }
        th, td {
            padding: 12px;
            border: 1px solid #ddd;
        }
        th {
            background-color: #f4f4f4;
        }
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
    {% if current_users %}
        <h1> {{nutrition}} Users</h1>
        <table>
            <thead>
                <tr>
                    <th>User name</th>
                    <th>Favorite foods</th>
                </tr>
            </thead>
            <tbody>
                <!-- 'current_users' is an element of the dictionary passed as 3rd parameter to the render function in the return of the views.py functions -->
                {% for user in current_users %}
                <tr>
                    <!-- the following href references the view with name 'user_details' from the app 'bot' and passes 'user.id' as a parameter after '/' -->
                    <td><a href="{% url 'bot:user_details' user.id %}">{{ user.name }}</a></td> 
                    <td>{{ user.favorite_foods.all }}</td> 
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1>There are no users</h1>
    {% endif %}
</body>